@{
	ViewBag.Title = "Temperature Sensor";
}
<div class="app-container">
    <partial name="_SideMenu" />
	<!--Main Area-->
	<div class="main-content">

		<!--Header-->
		<div class="page-header">
			<h2>
				<i class="fas fa-shield-alt"></i>
				Temperature Sensor
			</h2>
		</div>

		<!--Cards Row-->
		<div class="cards-row">
			<!--Current Temperature-->
			<div class="card temp-card">
				<div class="card-title">
					Current Temperature
					<i class="fas fa-thermometer-half icon-orange"></i>
				</div>
				<div class="temp-value" id="currentTemp">
					-- °C
				</div>

				<div class="status-pill status-unknown" id="tempStatus">
					Status: Unknown
				</div>

			</div>

			<!-- Chart -->
			<div class="card chart-card">
				
				<div class="chart-header">
					<div class="parent">
						<strong class="trend-filter">Temperature Trend</strong>
						<!-- <span class="trend-filter">Last 7 Days</span> -->
						<div class="quick-filters">
							<button class="download-btn" id="last1HourBtn">Last 1 hour</button>
							<button class="download-btn" id="last24HoursBtn">Last 24 hours</button>
							<button class="download-btn" id="last7DaysBtn">Last 7 days</button>
						</div>

						<div class="quick-filters">
							<input type="date" id="startDate" class="date-input" />
							<input type="date" id="endDate" class="date-input" />

							<button type="button" class="download-btn" id="showHistoryBtn">
								Show History
							</button>
							<button type="button" class="download-btn" onclick="returntoLive()">Return to Live</button>
						</div>
					</div>
				</div>
				

				<canvas id="tempChart"></canvas>

			</div>
		</div>

		<!--History Content-->
		<div class="history-section">

			<h4>Historical Temperature</h4>

			
			<table class="history-table">

				<thead>
					<tr>
						<th>Timestamp</th>
						<th>Event Type</th>
						<th>Description</th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<td>2024-03-15 11:00</td>
						<td>Reading Recorded</td>
						<td>Temperature: 28.5°C</td>
					</tr>

					<tr>
						<td>2024-03-15 10:35</td>
						<td>Alert Triggered</td>
						<td>Temperature exceeded 28°C threshold</td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>

</div>

@section Scripts{
    <script>
        window.shelterCode ="@ViewBag.ShelterCode";
	</script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script src="/js/tempChart.js"></script>

	<script src="/lib/microsoft-signalr/signalr.js"></script>
    <script src="/js/tempSignalR.js"></script>

}
