<!--Sidebar-->
@{
	string? currentAction = ViewContext.RouteData.Values["action"]?.ToString();
	string IsActive(string action)
	{
		return currentAction == action ? "active" : "";
	}
}
<div class="sidebar">
	<a class="menu-item @IsActive("Temperature")" asp-controller="TempHistory" asp-action="Temperature"
		asp-route-code="@ViewBag.ShelterCode"><i class="fas fa-thermometer-half"></i> Temperature 
	</a>
	
	<a class="menu-item @IsActive("Humidity")" asp-controller="HumHistory" asp-action="Humidity" asp-route-code="@ViewBag.ShelterCode">
		<i class="fas fa-droplet"></i> Humidity
	</a>

	<div class="menu-item">
		<i class="fas fa-door-open"></i> Shelter Access
	</div>

	<div class="menu-item">
		<i class="fas fa-plug"></i> Stabilizer
	</div>

	<div class="menu-item">
		<i class="fas fa-battery-full"></i> Battery
	</div>

	<div class="top-bar">
		<a asp-controller="Dashboard" asp-action="Index"
		   class="dashboard-button">← Back to Dashboard</a>
	</div>
</div>