<!--Sidebar-->
	<div class="sidebar">
		<div class="menu-item active">
			<i class="fas fa-thermometer-half"></i> Temperature
		</div>

		<div class="menu-item">
			<i class="fas fa-droplet"></i> Humidity
		</div>

		<div class="menu-item">
			<i class="fas fa-door-open"></i> Shelter Access
		</div>

		<div class="menu-item">
			<i class="fas fa-plug"></i> Stabilizer
		</div>

		<div class="menu-item">
			<i class="fas fa-battery-full"></i> Battery
		</div>
	</div>