@{
	ViewBag.Title = "Temperature Sensor";
	var latest = (Model as IEnumerable<TemperatureView>)?.FirstOrDefault();
}
<div class="app-container">
    <partial name="_SideMenu" />
	<!--Main Area-->
	<div class="main-content">

		<!--Header-->
		<div class="page-header">
			<h2>
				<i class="fas fa-shield-alt"></i>
				Temperature Sensor
			</h2>
		</div>

		<!--Cards Row-->
		<div class="cards-row">
			<!--Current Temperature-->
			<div class="card temp-card">
				<div class="card-title">
					Current Temperature
					<i class="fas fa-thermometer-half icon-orange"></i>
				</div>
				<div class="temp-value" id="currentTemp">
					@(latest == null ? "-- °C" : $"{latest.Value:0.0} °C")
				</div>

				<div class="status-pill status-unknown" id="tempStatus">
					Status: Unknown
				</div>

			</div>

			<!-- Chart -->
			<div class="card chart-card">
				
				<div class="chart-header">
					<div class="parent">
						<strong class="trend-filter">Temperature Trend</strong>
						<!-- <span class="trend-filter">Last 7 Days</span> -->
						<div class="quick-filters">
							<button class="download-btn" id="last1HourBtn">Last 1 hour</button>
							<button class="download-btn" id="last24HoursBtn">Last 24 hours</button>
							<button class="download-btn" id="last7DaysBtn">Last 7 days</button>
						</div>

						<div class="quick-filters">
							<input type="date" id="startDate" class="date-input" />
							<input type="date" id="endDate" class="date-input" />

							<button type="button" class="download-btn" id="showHistoryBtn">
								Show History
							</button>
							<button type="button" class="download-btn" onclick="returntoLive()">Return to Live</button>
						</div>
					</div>
				</div>
				

				<canvas id="tempChart"></canvas>

			</div>
		</div>

		<!--Temperature Summary-->
		<div class="summary-section">

			<div class="summary-card">
				<div class="summary-icon">
					<i class="fas fa-temperature-half"></i>
				</div>
				<div class="summary-info">
					<span class="summary-title">Avg Temperature</span>
					<h2 id="avgTemp">-- °C</h2>
				</div>

			</div>

			<div class="summary-card">
				<div class="summary-icon max">
					<i class="fas fa-arrow-up"></i>
				</div>
				<div class="summary-info">
					<span class="summary-title">Max Temperature</span>
					<h2 id="maxTemp">-- °C</h2>
				</div>

			</div>

			<div class="summary-card">
				<div class="summary-icon min">
					<i class="fas fa-arrow-down"></i>
				</div>
				<div class="summary-info">
					<span class="summary-title">Min Temperature</span>
					<h2 id="minTemp">-- °C</h2>

				</div>

			</div>

			<div class="summary-card">
				<div class="summary-icon status">
					<i class="fas fa-circle-check"></i>
				</div>

				<div class="summary-info">
					<span class="summary-title">Sensor Status</span>
					<h2 id="sensorStatus">--</h2>
				</div>

			</div>

		</div>
		
	</div>

</div>

@section Scripts{
	<link rel="stylesheet" asp-append-version="true" href="~/css/TemperaturePage.css" />
	<link rel="stylesheet" href="~/css/tempchart.css" />
    <script>
        window.shelterCode ="@ViewBag.ShelterCode";
	</script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script src="/js/tempChart.js"></script>

	<script src="/lib/microsoft-signalr/signalr.js"></script>
    <script src="/js/tempSignalR.js"></script>
	<script src="/js/tempSummary.js"></script>

}
